@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply hover:opacity-90 transition-all active:opacity-80;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
#root {
  background-color: #111d3c;
}
.arco-switch.arco-switch {
  background-color: var(--color-fill-4);
}
.arco-switch-checked.arco-switch-checked {
  background-color: rgb(var(--primary-6));
}

@media screen and (max-width: 640px) {
  .arco-modal-simple {
    width: 340px;
    padding: 12px 16px 16px;
  }
  .arco-modal-simple .arco-modal-header {
    margin-bottom: 10px;
  }
  .arco-modal-simple .arco-modal-footer {
    margin-top: 20px;
  }
}
